@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Webpage is designed to facilitate the approval process for FOSS (Free and Open Source Software).
    Please enjoy!</p>
