@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Happy Valley Way<br />
    P-Town, UT 84601<br />
    <abbr title="Phone">P:</abbr>
    801.361.3996
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:matthieumiser94@gmail.com">matthieumiser94@gmail.com</a><br />
</address>