@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Get FOSS approved for your project</h1>
    <p class="lead">Use this portal to submit requests for manager approval to use free open-source software (FOSS) in your projects</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Request approval</h2>
        <p>
            Need to turbo-charge your project with open-source software?  Use this portal to get the approval process started in
            a matter of minutes!
        </p>
    </div>
    <div class="col-md-4">
        <h2>View pending requests</h2>
        <p>Use this site to view all of the requests you've submitted.  You can view the details of your requests and edit/delete 
        them</p>
    </div>
    <div class="col-md-4">
        <h2>View white/black lists</h2>
        <p>Some software doesn't need to be submitted for approval because it's already on our white/black lists.  White-listed 
        software is good to go, and black-listed software is, well, black-listed...</p>
    </div>
</div>