@model _403Project1.Models.Requests

@{
    ViewBag.Title = "Accepted";
}

<h2>Your application is on the whitelist, we will have a team install it for you soon.</h2>
<p>@Html.ActionLink("Click Here", "Submit") to add another request.</p>
<p>@Html.ActionLink("Click Here", "ShowList") to see a list of your requests</p>

