@model _403Project1.Models.Requests

@{
    ViewBag.Title = "Rejected";
}

<h2>This software is unapproved for use by users. Sorry!</h2>
<p>@Html.ActionLink("Click Here", "Submit") to add another request.</p>
<p>@Html.ActionLink("Click Here", "ShowList") to see a list of your requests</p>

